* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", sans-serif;
}
@font-face {
    font-family: "Futura-Boo";
    src: url("fonts/Futura-Boo.ttf") format("truetype");
}
@font-face {
    font-family: "Futura-BooObl";
    src: url("fonts/Futura-BooObl.ttf") format("truetype");
}
@font-face {
    font-family: "Futura-Med";
    src: url("fonts/Futura-Med.ttf") format("truetype");
}
@font-face {
    font-family: "Futura-Bol";
    src: url("fonts/Futura-Bol.ttf") format("truetype");
}

.fadein-anime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fadein-anime;
    -ms-animation-name: fadein-anime;
    animation-name: fadein-anime;
    visibility: visible !important;
   }
   @-webkit-keyframes fadein-anime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
   }
   @keyframes fadein-anime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
   }

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    font-family: Futura-Bol;
    text-align: center;
    font-size: 53px;
    color: #3e5cda;
    font-weight: bold;
    padding: 50px;
}

footer {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    font-family: Futura-Med;
    color: #3e5cda;
}

.firstView {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

nav {
    padding: 30px 25px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: 15px;
    font-size: 30px;
    font-family: Futura-Boo;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.05em;
}

nav a:hover {
    color: #3e5cda;
    transition: 0.5s;
}

.title {
    padding-top: 200px;
    text-align: center;
}

.title p {
    padding-top: 50px;
    font-family: Futura-BooObl;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

#introduction {
    padding: 0 200px 78px;
}

.introduction-content {
    display: flex;
    justify-content: space-between;
}
.introduction-text {
    padding: 15px 50px 0 85px;
    text-align: center;
}

.introduction-content-two {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}
.introduction-text-two {
    padding: 0 95px 0 50px;
    text-align: center;
}

.introduction-contents p {
    text-align: left;
    line-height: 32px;
}
.introduction-img img{
    width: 500px;
    height: auto;
}
.introduction-contents a {
    display: inline-block;
    height: 40px;
    width: 170px;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    border-radius: 10px;
}
.introduction-contents a:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.entry-one {
    background: #3e5cda;
}

.entry-two {
    background: #ffbf03;
}

#courses {
    background-color: #d6e5f9;
    padding: 0 200px 30px;
}
#particles-js {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.wrap {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
}


.courses-contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.courses-content {
    background-color: #fff;
    width: 240px;
    height: 340px;
    padding: 40px 35px 45px;
    margin: 15px 10px;
    border-radius: 10px;
    text-align: center;
}

.courses-img {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

.courses-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.courses-content p {
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
}

.courses-content a {
    display: inline-block;
    margin-top: 30px;
    width: 170px;
    height: 40px;
    border-radius: 10px; 
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;   
}
.courses-content a:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.button-html {
    background-color: #f16629;
}
.button-css {
    background-color: #2aa9df;
}
.button-unity {
    background-color: #333;
}
.button-ruby {
    background-color: #ff5252;
}
.button-js {
    background-color: #ffd700;
}
.button-swift {
    background-color: #fe7635;
}
.button-go {
    background-color: #74cedd;
}

.slider {
    width: 80%;
    margin: 0 auto;
}
.slider img {
    height: 190px;
    width: 290px;
}
.slider .slick-arrow:before{
    font-size: 20px;
    color: #000;
}


.map {
    text-align: center;
    margin-bottom: 40px;
}


@media screen and (max-width: 480px) {
    h2 {
        font-size: 32px;
        padding: 45px 0;
    }
    footer {
        width: 100vw;
    }
    nav {
        visibility: hidden;
    }
    .firstView {
        position: relative;
    }
    .title {
        padding-top: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .title p{
        font-size: 16px;
    }
    .title img {
        width: 80vw;
    }
    #introduction {
        padding: 0 0 50px;
    }
    .introduction-content {
        flex-direction: column;
    }
    .introduction-text {
        padding: 30px 42px;
    }
    .introduction-content-two {
        flex-direction: column-reverse;
    }
    .introduction-text-two {
        padding: 30px 42px;
    }
    .introduction-contents p {
        font-size: 13px;
        line-height: 26px;
    }
    .introduction-img {
        text-align: center;
    }
    .introduction-img img {
        width: 90%;
        height: auto;
    }
    .introduction-contents a {
        margin-top: 30px;
        font-size: 15px;
    }
    #courses {
        padding: 0;
    }
    .courses-content {
        flex-basis: 160px;
        width: 160px;
        height: 220px;
        padding: 0;
    }
    .courses-img {
        width: 90px;
        height: 90px;
        margin: 20px auto 0;
    }
    .courses-content p {
        margin-top: 20px;
    }
    .courses-content a {
        margin-top: 10px;
        width: 140px;
        height: 40px;
    }
    .slider img {
        width: 100%;
    }
    .map iframe {
        height: 295px;
        width: 100vw;
    }
}